/* General tags */
body {
	background-color: rgb(169, 252, 252);
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

/* fix Big mess to clean up */
.modal-button {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	color: azure;
	text-align: center;
	font-size: 20px;
	z-index: 2;
}

.modal-container {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	animation-name: fadeIn;
	animation-duration: 0.6s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
.modal-box {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	animation-name: slideIn;
	animation-duration: 0.8s;
	text-align: center;
}

.modal-box-header {
	margin: 0;
	padding: 15px 0;
	background-color: chocolate;
	color: azure;
}

.modal-box-form {
	display: flex;
	justify-content: center;
	background-color: rgb(169, 252, 252);
}

.modal-box-form div {
	padding: 10px 10px;
}

.modal-box-form-timer {
	display: inline-block;
}

.modal-box-form-flags {
	padding: 0;
}
.modal-box-form-flags div {
	display: flex;
	justify-content: center;
}

.flags {
	width: 32px;
}

.timer {
	margin: 10vh auto 5vh auto;
	text-align: center;
	font-size: 8rem;
}

.card-container {
	text-align: center;
	width: 30vw;
	padding: 50px 50px 3vh 50px;
	margin: 0 auto;
	background-color: beige;
	border: 3px solid black;
	border-radius: 50px;
}

.card-container-text {
	font-size: 6rem;
	padding-bottom: 7vh;
}

.card-container-buttons {
	display: flex;
	justify-content: flex-end;
}

.activity img {
	max-width: 4rem;
	max-height: 4rem;
}

.btn {
	width: 60px;
	height: 40px;
	padding: 20px 0 0 0;
	border: 2px solid white;
	border-radius: 20px;
	background-color: chocolate;
}

.card-container-buttons a {
	text-decoration: none;
	margin: 0 0 0 30px;
	color: azure;
	font-size: 1.2rem;
}

.set {
	margin: auto;
	color: azure;
	font-size: 1.6rem;
	text-align: center;
}

.text-decoration {
	text-decoration: none;
	margin: 60px 0 0 25px;
}
.text-decoration div {
	padding-bottom: 0px;
}

.modal {
	display: block;
	z-index: 1;
}

#time {
	width: 70px;
	display: block;
	margin-bottom: 5px;
}

#spain,
#uk {
	display: table-cell;
	vertical-align: middle;
}
